[test-security]
okdirs  = security

[test-common-spec]
okdirs  = common specs/concrete

[test-xmss-spec]
okdirs  = specs/concrete/xmss
idirs   = common specs specs/concrete

[test-xmss-mt-spec]
okdirs  = specs/concrete/xmss_mt
idirs   = common specs specs/concrete

[test-spec-extra]
okdirs  = specs/concrete/extra
idirs   = common specs specs/concrete specs/concrete/xmss specs/concrete/xmss_mt

[test-extraction]
okdirs  = extraction

[test-correctness]
okdirs  = correctness
idirs   = common specs specs/concrete
