[test-acai]
okdirs  = security/acai

[test-fsai]
okdirs  = security/fsai

[test-common-spec]
okdirs  = common spec

[test-xmss-spec]
okdirs  = spec/xmss
idirs   = spec

[test-xmss-mt-spec]
okdirs  = spec/xmss_mt
idirs   = spec

[test-spec-extra]
okdirs  = spec/extra
idirs   = spec security/acai

[test-extraction]
okdirs  = extraction

[test-correctness]
okdirs  = correctness
options = timeout=20
