name: CI (compile jasmin code & run tests & run EasyCrypt proofs)

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build_image:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.tag.outputs.image-tag }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Generate image tag
        id: tag
        run: echo "image-tag=jasmin-xmss:${{ github.sha }}" >> "$GITHUB_OUTPUT"

      - name: Build and save Docker image
        run: |
          docker build --build-arg EASYCRYPT_RELEASE= --build-arg OCAML_RELEASE=5.3.0 -t jasmin-xmss:${{ github.sha }} .
          docker save jasmin-xmss:${{ github.sha }} | gzip > image.tar.gz

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar.gz

  compile:
    needs: build_image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test_dir:
          - test/hash_address
          - test/sha256
          - test/hash
          - test/wots
          - test/treehash
          - test/xmss
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Compile ${{ matrix.test_dir }}
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C ${{ matrix.test_dir }} asm

  run_tests:
    needs: build_image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test_dir:
          - test/hash_address
          - test/sha256
          - test/hash
          - test/wots
          - test/treehash
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Run tests in ${{ matrix.test_dir }}
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -j$(nproc) -C ${{ matrix.test_dir }} run

  test_xmss:
    needs: build_image
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Test kg 
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C test/xmss/ test_kg 

      - name: Test sign
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C test/xmss/ test_sign

      # - name: Test verify
      #   run: docker run --rm jasmin-xmss:${{ github.sha }} make -C test/xmss/ test_verify

  check_proofs:
    needs: build_image
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Check correctness proofs
        run: docker run --rm jasmin-xmss:${{ github.sha }} make EC_JOBS=2 -C proof/ extract check_all

  checkCT:
    needs: build_image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test_dir:
          - test/hash_address
          - test/hash
          - test/wots
          - test/treehash
          - test/xmss
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Run checkCT in ${{ matrix.test_dir }}
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C ${{ matrix.test_dir }} checkCT

  valgrind:
    needs: build_image
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Build
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C test/xmss/ check_valgrind CI=1
