name: CI (compile jasmin code & run tests & run XMSS/XMSS^MT equivalence proof & run correctness proof)

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build_image:
    runs-on: ubuntu-latest
    outputs:
      image-tag: ${{ steps.tag.outputs.image-tag }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Generate image tag
        id: tag
        run: echo "image-tag=jasmin-xmss:${{ github.sha }}" >> "$GITHUB_OUTPUT"

      - name: Build and save Docker image
        run: |
          docker build --build-arg EASYCRYPT_RELEASE= --build-arg OCAML_RELEASE=5.3.0 -t jasmin-xmss:${{ github.sha }} .
          docker save jasmin-xmss:${{ github.sha }} | gzip > image.tar.gz

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar.gz

  check_security:
    needs: build_image
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Check security
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C proof/ check_spec_equivs

  check_spec_equivs:
    needs: build_image
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Check single/multi tree proof
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C proof/ check_spec_extra

      - name: Check spec equivalences
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C proof/ check_spec_equivs

  check_correctness_proof:
    needs: build_image
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Download Docker image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: |
          gunzip -c image.tar.gz | docker load

      - name: Check correctness proofs
        run: docker run --rm jasmin-xmss:${{ github.sha }} make -C proof/ extract check_correctness

